extends layout

block content
  a(href='/admin')
    button(type='button') Back 
  a(href='/logout')
    button(type='button') Logout
  h1 New Playlist
  p Create a new playlist
  form(method="POST" action="/admin/newPlaylist" )
    div.input
      input(type="text", name="playlistName" placeholder="Playlist Name")
    div.actions
      input(type="submit", value="Enter")