extends layout

block content
  a(href='/logout')
    button(type='button') Logout
  h1 #{username}'s Playlists 
  a(href='/admin/newPlaylist')
    button(type='button') Create a new Playlist
    br
    br
  for playlist, i in playlists 
    div(id='playlistImage')
      a(href='/admin/playlist/'+playlist.id)
        img(src='images/playlistLogo.PNG')
      p
      br
      p #{playlist.name}
      p
        a(href='/admin/delete/'+playlist.id)
          button(type='button') Delete