extends layout

block content
  h1 A playlist (will change name)
  a(href='/admin/newSound') Add track to playlist
  for track, i in tracks 
    p
        a(href='/admin/player') #{track.name}
    p
        iframe(allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F%2Fkodak-black%2Ftunnel-vision-1&color=orange_white&size=32" style="width: 32px; height: 32px;")