extends layout

block content
  h1 PLAYLISTS
  a(href='/admin/newPlaylist') Create a new Playlist
  for playlist, i in playlists 
    p
      a(href='/admin/playlist/'+playlist.id) #{playlist.name}
    p
      a(href='/admin/delete/'+playlist.id) Delete