extends layout

block content
  h1 Playlist
  a(href='/admin/newSound') Add track to playlist
  for track, i in tracks 
    p
        iframe(src='https://w.soundcloud.com/player/?url=' + track.url + '&auto_play=false&buying=false&liking=false&download=false&sharing=false&show_artwork=false&show_comments=false&show_playcount=false&hide_related=false&visual=true&start_track=0&callback=true' width='20%' height='120' scrolling='no' frameborder='no')    
    p
        a(href='/admin/playlist/delete/'+track.id) Delete