extends layout

block content
  h1 Register
  p Register for My Music Sharing App
  form(method="POST" action="/register" )
    div.input
      span.label Username:
      input(type="text", name="username")
    div.input
      span.label Password:
      input(type="Password", name="password")
    div.actions
      input(type="submit", value="Enter")